#  The .head() and .tail() Methods

In [1]:
import pandas as pd

In [7]:
pokemon = pd.read_csv("../../CompletedCourseFiles/Pandas CSV Files/pokemon.csv", usecols = ['Pokemon'], squeeze = True)

# By default this returned 5 first elements
pokemon.head(10)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
6      Squirtle
7     Wartortle
8     Blastoise
9      Caterpie
Name: Pokemon, dtype: object

In [11]:
google = pd.read_csv("../../CompletedCourseFiles/Pandas CSV Files/google_stock_price.csv")

google.tail()

      Stock Price
3007       772.88
3008       771.07
3009       773.18
3010       771.61
3011       782.22

In [14]:
google = pd.read_csv("../../CompletedCourseFiles/Pandas CSV Files/google_stock_price.csv", squeeze = True)

google.tail(8)

3004    741.77
3005    745.91
3006    768.79
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64